<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body style="background-image: url('/images/bgImage.png'); background-size: cover;">
    <div class="login-container">
        <form action="/Authentication/LogIn" method="post">
            <input type="text" placeholder="Mail" name="email" required>
            <input type="password" placeholder="Şifre" name="password" required>
            <button type="submit">Giriş Yap</button>
        </form>
    </div>
</body>
</html>
