<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap.min.css dosyası bağlantı etiketi -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- bootstrap-icons.min.css dosyası bağlantı etiketi -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- layout.css dosyası bağlantı etiketi -->
    <link href="~/css/layout.css" rel="stylesheet" />
    <!-- utils.css dosyası bağlantı etiketi -->
    <link href="~/css/utils.css" rel="stylesheet" />
    <!-- theme-mode.css dosyası bağlantı etiketi -->
    <link href="~/css/theme-mode.css" rel="stylesheet" />
  
    @RenderSection("customStyles", false)

    <style>

    </style>
    <title>CyproData | @ViewBag.Title</title>
</head>
<body>
    <div>
        <div id="logo" style="margin-top: 20px; margin-left: 20px;">
            <a href="/Market/Index">
                <img src="~/images/logo.png" alt="logo" height="60" style="border-radius: 30px;"/>
            </a>
        </div>
        <div class="fixed-top-right" style="opacity:0.7">
            <div style="font-weight:bold">
                <a href="/Market/CoinMarketData" class="btn btn-light custom-button">Detaylar</a>
                <a href="/Varliklarim/Index" class="btn btn-light custom-button">Varlıklarım</a>
                <a href="/MyTrades/Index" class="btn btn-light custom-button">Geçmiş İşlemler</a>
                <a href="/Exit/Index" class="btn btn-light custom-button">Çıkış Yap</a>
            </div>
        </div>
    </div>

    <main>
        @RenderBody()
    </main>
    <!-- main end -->
    <!-- bootstrap.bundle.min.js dosyası bağlantı etiketi -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jquery.min.js dosyası bağlantı etiketi -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @RenderSection("customScripts", false)

</body>
</html> 