@using MVC.Models.Datas
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@section customScripts {

        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset = "utf8" src = "https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js" ></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
 
    <script>
                // DataTable başlatma
                var dataTable = $('#eventDataTable').DataTable({
            "columnDefs": [
                { "type": "html", "targets": 0 },
                {   
                    "targets": 4, // Dördüncü sütun
                    "data": null, // Veri yok
                    "defaultContent": "<button class='btn btn-info btn-sm'>Detay</button>", // Buton ekleme
                    "orderable": false // Sıralanabilir değil
                }
            ]
             });

        // 'Detay' butonuna tıklama olayı

        $('#eventDataTable tbody').on('click', '.btn-info', function (e) {
            e.stopPropagation();
            var data = dataTable.row($(this).parents('tr')).data();
            // Modalı aç ve içeriği güncelle
            $('#dataModalDetay').modal('show');
            // Burada modal içerisindeki DataTable'ı güncellemek için gerekli işlemleri yapabilirsiniz
        });

    </script>
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Market</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="~/css/market.css" rel="stylesheet" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/market.js"></script>
    <style>
        .increase {
            color: green;
        }

        .decrease {
            color: red;
        }
    </style>

</head>
<body>
 

    <div class="container mt-5 transparent">
        <table id="eventDataTable" class="display transparent">
            <thead>
                <tr>
                    <th>Sembol</th>
                    <th>Fiyat Değişimi</th>
                    <th>Fiyat Değişimi (%)</th>
                    <th>Fiyat</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>

   
    <!-- Modal Structure -->
    <div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Trade Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Symbol:</strong> <span id="modalSymbol"></span></p>
                    <p><strong>Last Price:</strong> <span id="modalLastPrice"></span></p>

                    <!-- Tab Navigation for Market and Limit Order -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="market-tab" data-toggle="tab" href="#market">Market Alım</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="limit-tab" data-toggle="tab" href="#limit">Limit Emir</a>
                        </li>
                    </ul>

                    <!-- Tab Content -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="market">
                            <form class="mt-3">
                                <div class="form-group">
                                    <label>Miktar</label>
                                    <input type="number" class="form-control" id="marketAmount">
                                </div>
                                <p><strong>Toplam:</strong> <span id="marketTotal"></span></p>
                                <button class="btn btn-success" id="btnBuyMarket">Al</button>
                                <button class="btn btn-danger" id="btnSellMarket">Sat</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="limit">
                            <form class="mt-3">
                                <div class="form-group">
                                    <label>Fiyat</label>
                                    <input type="text" class="form-control" id="limitPrice">
                                </div>
                                <div class="form-group">
                                    <label>Miktar</label>
                                    <input type="text" class="form-control" id="limitAmount">
                                </div>
                                <div class="form-group">
                                    <label>Toplam</label>
                                    <input type="text" class="form-control" id="limitTotal">
                                </div>
                                <button class="btn btn-success" id="btnBuyLimit">Al</button>
                                <button class="btn btn-danger" id="btnSellLimit">Sat</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Bootstrap JS for Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
